<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCd9KeOlFc-U-XBWyOENtm_eNZWuRF8vKU</string>
	<key>GCM_SENDER_ID</key>
	<string>851088208371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.pillsorterapp</string>
	<key>PROJECT_ID</key>
	<string>pillsorter-c326c</string>
	<key>STORAGE_BUCKET</key>
	<string>pillsorter-c326c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851088208371:ios:847d809e9aa0169eade286</string>
</dict>
</plist>